*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:600px ;
    margin: 200px auto;
    // background-color: red;
    direction: rtl;

    #note-list{
        list-style-type: decimal;
    }
    #form{
        width: 50%;
        #note{
            width: 100%;
            border: gray 1px solid;
        }
        #submit{
            width: 100%;
            outline: none;
            background-color: rgb(97, 97, 234);
        }
    }
}

.remove-btn{
    float: left;
    color: red;
    font-weight: bold;
}